<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- General logs -->
		<target xsi:type="File" name="generalFile"
				fileName="Logs/General/log-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${callsite} | ${message}${newline}${exception}" />

		<!-- Security logs -->
		<target xsi:type="File" name="securityFile"
				fileName="Logs/Security/log-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${callsite} | ${message}${newline}${exception}" />

		<!-- Streaming logs -->
		<target xsi:type="File" name="streamingFile"
				fileName="Logs/Streaming/log-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${callsite} | ${scopeproperty:item=TraceId} | ${message}${newline}${exception}" />
	</targets>

	<rules>
		<!-- General logger for ASP.NET Core logs -->
		<logger name="Microsoft.*" minlevel="Info" writeTo="generalFile" />
		<logger name="System.*" minlevel="Info" writeTo="generalFile" />
		
		<logger name="General" minlevel="Trace" writeTo="generalFile" />

		<logger name="Security" minlevel="Trace" writeTo="securityFile" />

		<logger name="Streaming" minlevel="Trace" writeTo="streamingFile" />
	</rules>
</nlog>
